*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

/* utilities */

.test{
  background-color: red;
}
.test2{
  background-color: green;
}
.test3{
  background-color: orange;
}

.d-flex{
  display: flex;
}

.j-cont-aro{
  justify-content: space-around;
}

.j-cont-bet{
  justify-content: space-between;
}




#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(219,219,210);
  background: linear-gradient(0deg, #D9DBD4 85%, #009688 85%); 
}

.container{
  display: flex;
  width: 80%;
  height: 95%;
}

.aside{
  width: 30%;
  background-color: white;
  gap: 1px;
}

.main{
  flex-grow: 1;
}

.top-bar{
  height: 9%;
  background-color: #EAEAEA;
}

.main-chat{
  height: calc(100% - 18%);
  background-image: url();
}

.foot-chat{
  height: 9%;
  background-color: #F3EEEA;
}