*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

/* utilities */

.test{
  background-color: red;
}
.test2{
  background-color: green;
}
.test3{
  background-color: orange;
}

.d-flex{
  display: flex;
}

.j-cont-aro{
  justify-content: space-around;
}

.j-cont-bet{
  justify-content: space-between;
}

.al-item-cent{
  align-items: center;
}


/* Stile Struttura */

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(219,219,210);
  background: linear-gradient(0deg, #D9DBD4 85%, #009688 85%); 
}

.container{
  width: 80%;
  height: 95%;
  background-color: #D9DBD4;
}

.aside{
  width: 30%;
  background-color: white;
  margin-right: 1px;
}

.main{
  flex-grow: 1;
}

.top-bar{
  height: 8%;
  min-height: 68px;
  background-color: #EAEAEA;
}

.main-chat{
  height: calc(100% - 15%);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

.foot-chat{
  height: 7%;
  min-height: 60px;
  background-color: #F3EEEA;
}

/* /Stile Struttura */

.aside img, .main img{
  border-radius: 50%;
  width: 40px;
  margin-left: 15px;
}

.icon-user i{
  color: #B1B1B1;
  margin-right: 20px;
  font-size: 1rem;
}

.top-bar .user span{
  margin-left: 8px;
}

.main .info-user{
  margin-left: 10px;
  font-weight: 600;
  font-size: .8rem;
}

.inf-access{
  color: #B1B1B1;
}

.foot-chat i{
  color: gray;
  font-size: 1.3rem;
}

.foot-chat i:first-child{
  margin-left: 15px;
}

.foot-chat i:last-child{
  margin-right: 15px;
}

.foot-chat input {
  padding: 10px 15px;
  width: 75%;
  border: none;
  border-radius: 6px;
  margin: 15px 10px;
  color: black;
  font-weight: 500;
  font-size: .8rem;
}