*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(219,219,210);
  background: linear-gradient(0deg, #D9DBD4 85%, #009688 85%); 
}